body::after{
    content: "";
    background: linear-gradient(to right, #397362, #264D42);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 600px;
    z-index: -1;
}

.back{
    position: fixed;
    color: var(--Cor-mais-clara);
    background-color: var(--Cor-de-fundo-escura);
    top: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 5px;
    margin: 2rem;
    cursor: pointer;
}
.back a{
    color: var(--Cor-dos-icones);
}
.back-arrow{
    position: fixed;
    color: var(--Cor-mais-clara);
    background-color: var(--Cor-de-fundo-escura);
    top: 8rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 5px;
    margin: 2rem;
    cursor: pointer;
}
.back-arrow a{
    color: var(--Cor-dos-icones);
}

main{
    max-width: 1200px;
    margin: auto;
    height: auto;
    margin-bottom: 2rem;

}
main .container{
    z-index: 1;
    max-width: 1200px;
    margin: auto;
    margin-top: 200px;
    background-color: var(--Branco);
    height: auto;
    border-radius: 8px;
    box-shadow: 10px 12px 20px 5px rgba(0, 0, 0, 0.2);
    color: var(--Cor-de-letra-escura);
}


.container .containerHeader{
    display: flex;
    padding: 5rem 5rem 2rem 5rem;
    align-items: center;
    justify-content: center;
}
.container .containerHeader h2{
    font: 700 4rem 'Open Sans', sans-serif;
}

.containerBody{
    padding: 2rem 5rem 5rem 5rem;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerBody h3{
    font: 700 2.5rem 'Opens Sans',sans-serif;
}
.containerBody p{
    font: 400 2rem 'Opens Sans',sans-serif;
}
.containerBody img{
    margin: 2rem auto 2rem auto;
    width: 600px;
}
.containerBody small{
    margin-left: auto;
    padding: 0.5rem;
}

.references{
    font: 400 2rem 'Opens Sans', sans-serif;
    margin-top: 10rem;
}

.references .arrows{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.references .arrows:hover{
    color: var(--Preto);
}
.references .arrows i{
    margin-left: 0.5rem;
}
.references ul{
    overflow-x: auto;
}
.references ul li{
    margin: 1rem 0 1rem 0;
}
.references ul li a{
    color: var(--Cor-de-letra-escura);
}
.references ul li a:hover{
    color: var(--Preto);
}

.container2{
    height: 300px;
}

@media (max-width: 720px){
    .containerBody img{
        width: 50rem;
    }
    .containerBody{
        overflow-x: hidden;
    }
}